table.resp {
	width: 100%;
	table-layout:fixed;

	.center{
		text-align: center;
	}

	.center-y{
		vertical-align: middle;
	}
}

.break-line{
	word-wrap:break-word;
}

.page-header{
	display: inline-block;
	width: 100%;
}

body {
	.table-hover > tbody > tr:hover {
	    background-color: rgba(243, 242, 242, 0.42);
	}
}

.status-marker {
	color: #d9534f;

	&.enabled{
		color: #5cb85c;
	}
}

.ace_editor { 
	height: 210px; 
}

.snippet-code{
	&.ace_editor{
		height: 235px;
	}
}

.app-popover{
	color: #6bc9dc;
}