<div class="container">
	<div class="panel">
		<div class="panel-body">
			<legend>My Apps</legend>
			<div class="bs-example">
				<div class="row">
					<div class="text-right col-xs-3 col-xs-offset-9">
						<a href="/apps/create" type="button" class="btn btn-primary">Create App</a>
						<br>
					</div>
				</div>
				<br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>App Name</th>
							<th>Allowed Host</th>
							<th width="25%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>
								<a href="#" type="button" class="btn btn-default">Edit</a>
								<button type="button" class="btn btn-danger">Remove</button>
							</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>
								<a href="#" type="button" class="btn btn-default">Edit</a>
								<button type="button" class="btn btn-danger">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>