<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>New Custom Events!</div>
                    </div>
                </div>
            </div>
            <a href="#/custom-events">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>New Errors!</div>
                    </div>
                </div>
            </div>
            <a href="#/errors">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-code fa-fw"></i>
                Snippet code
                <div class="pull-right">
                    <button clipboard text="textToCopy" on-copied="success()" on-error="fail(err)" class="btn btn-xs btn-default" ng-bind="btnCopyText"></button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <textarea rows="14" class="form-control" readonly ng-model="textToCopy">
                </textarea>
            </div>
            <!-- /.panel-body --> </div>
        <!-- /.panel -->
        <!-- /.panel --> 
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->